.contenido {
  display: inline-block;
  margin: 100px;
  padding-left: 20px;
}

.centrar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center
}

.example-card {
  max-width: 300px;
  color: yellow;
  background-color: black;
}
