<div class="centrar">
  <div class="contenido">
    <a routerLink="/people">
      <mat-card class="example-card">
        <mat-card-header class="centrar">
          <mat-card-title>PEOPLE</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://starwars-visualguide.com/assets/img/categories/character.jpg" alt="imagen"
             class="img"/>
      </mat-card>
    </a>
  </div>

  <div class="contenido">
    <a routerLink="/films">
      <mat-card class="example-card">
        <mat-card-header class="centrar">
          <mat-card-title>FILMS</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://starwars-visualguide.com/assets/img/categories/films.jpg" alt="imagen"
             class="img"/>
      </mat-card>
    </a>
  </div>

  <div class="contenido">
    <a routerLink="/species">
      <mat-card class="example-card">
        <mat-card-header class="centrar">
          <mat-card-title>SPECIES</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://starwars-visualguide.com/assets/img/categories/species.jpg" alt="imagen"
             class="img"/>
      </mat-card>
    </a>
  </div>

  <div class="contenido">
    <a routerLink="/starships">
      <mat-card class="example-card">
        <mat-card-header class="centrar">
          <mat-card-title>STARSHIPS</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://starwars-visualguide.com/assets/img/categories/starships.jpg" alt="imagen"
             class="img"/>
      </mat-card>
    </a>
  </div>

  <div class="contenido">
    <a routerLink="/vehicles">
      <mat-card class="example-card">
        <mat-card-header class="centrar">
          <mat-card-title>VEHICLES</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://starwars-visualguide.com/assets/img/categories/vehicles.jpg" alt="imagen"
             class="img"/>
      </mat-card>
    </a>
  </div>

  <div class="contenido">
    <a routerLink="/planets">
      <mat-card class="example-card">
        <mat-card-header class="centrar">
          <mat-card-title>PLANETS</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://starwars-visualguide.com/assets/img/categories/planets.jpg" alt="imagen"
             class="img"/>
      </mat-card>
    </a>
  </div>
</div>
