.info {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
    line-height: 1.5;
  }
  
  .info > div {
    margin: 10px;
  }
  
  .anchuraGeneral {
    width: 1000px;
    margin: auto;
  }
  
  .img {
    width: 500px;
  }
  
  .contenedorGeneral {
    display: flex;
    flex-direction: row;
  }
  
  .mat-icon {
    color: yellow;
    font-size: 50px;
    width: auto;
    height: auto;
    margin: 15px;
  }
  
  .example-card {
    max-width: 1000px;
    display: inline-block;
    margin: 10px;
    color: yellow;
    background-color: transparent;
    margin: auto;
  }
  
  .mat-card {
    margin: 0;
    padding: 0;
  }
  
  .mat-card-image {
    margin: 0;
  }
  
  mat-card-title {
    margin-top: 100px;
    margin-bottom: 50px !important;
    font-size: 50px !important;
  }
  