<a routerLink="/vehicles" routerLinkActive="active" ariaCurrentWhenActive="page">
    <mat-icon aria-hidden="false" aria-label="Example thumbs up SVG icon">arrow_back</mat-icon>
  </a>
  <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
    <mat-icon aria-hidden="false" aria-label="Example thumbs up SVG icon">home</mat-icon>
  </a>
  
  <div class="anchuraGeneral">
    <mat-card class="example-card">
      <mat-card-header class="cont" style="justify-content: center">
        <mat-card-title>{{ vehicle.name }}</mat-card-title>
      </mat-card-header>
      <div class="contenedorGeneral">
        <img [src]="saveImg(vehicle)" onerror="this.src='https://starwars-visualguide.com/assets/img/placeholder.jpg'"
             alt="imagen" class="img"/>
        <div class="info">
          <div>Modelo: {{vehicle.model}}</div>
          <div>Fabricante: {{vehicle.manufacturer}}</div>
          <div>Clase: {{vehicle.vehicle_class}}</div>
          <div>Coste: {{vehicle.cost_in_credits}} creditos</div>
        </div>
      </div>
    </mat-card>
  </div>