<!-- <ul *ngFor="let item of speciesList">
  <li>{{ item.name }}</li>
  <img
    mat-card-image
    [src]="saveImg(item)"
  />
</ul>
<div>
  <span *ngFor="let in of counter(); let i = index"
    ><button (click)="getSpeciesPage(i + 1)">{{ i + 1 }}</button>&nbsp;</span
  >
</div> -->
<a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
  <mat-icon aria-hidden="false" aria-label="Example thumbs up SVG icon">arrow_back</mat-icon>
</a>
<a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
  <mat-icon aria-hidden="false" aria-label="Example thumbs up SVG icon">home</mat-icon>
</a>
<!-- <div class="contenido">
  <mat-card class="example-card" *ngFor="let item of speciesList">
    <mat-card-header class="cont">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ item.name }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="saveImg(item)" onerror="this.src='https://starwars-visualguide.com/assets/img/placeholder.jpg'" alt="imagen" class="img" />
  </mat-card>
  <span *ngFor="let in of counter(); let i = index"
    ><button (click)="getSpeciesPage(i + 1)">{{ i + 1 }}</button>&nbsp;</span
  >
</div> -->
<div class="contenido">
  <a routerLink="{{getIdSpecie(item)}}" routerLinkActive="active" ariaCurrentWhenActive="page"  *ngFor="let item of speciesList; let i = index">
    <mat-card class="example-card">
      <mat-card-header class="cont">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ item.name }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="saveImg(item)" alt="imagen" class="img" />
    </mat-card>
  </a>
</div>
<span *ngFor="let in of counter(); let i = index"
    ><button (click)="getSpeciesPage(i + 1)">{{ i + 1 }}</button>&nbsp;</span
  >


