<!-- <ul *ngFor="let item of filmList">
    <li>{{item.title}}</li>
    <img
    mat-card-image
    [src]="saveImg(item)"
  />
</ul> -->
<div class="contenido">
  <a routerLink="{{i+1}}" routerLinkActive="active" ariaCurrentWhenActive="page"  *ngFor="let item of filmList; let i = index">
    <mat-card class="example-card">
      <mat-card-header class="cont">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ item.title }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="saveImg(item)" alt="imagen" class="img" />
    </mat-card>
  </a>
</div>
