.info{
  background-color: white;
  color: black;
}
.img{
  width: 500px;
}

.contenedorGeneral{
  display: flex;
  flex-direction: row;
}

.example-card {
  max-width: 1000px;
  display: inline-block;
  margin: 10px;
  color: yellow;
  background-color: transparent;
}

.mat-card{
  margin: 0;
  padding: 0;
}

.mat-card-image{
  margin: 0;
}
