<a routerLink="/starships" routerLinkActive="active" ariaCurrentWhenActive="page">
  <mat-icon aria-hidden="false" aria-label="Example thumbs up SVG icon">arrow_back</mat-icon>
</a>
<a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
  <mat-icon aria-hidden="false" aria-label="Example thumbs up SVG icon">home</mat-icon>
</a>

<div class="anchuraGeneral">
  <mat-card class="example-card">
    <mat-card-header class="cont" style="justify-content: center">
      <mat-card-title>{{ starship.name }}</mat-card-title>
    </mat-card-header>
    <div class="contenedorGeneral">
      <img [src]="saveImg(starship)" onerror="this.src='https://starwars-visualguide.com/assets/img/placeholder.jpg'"
           alt="imagen" class="img"/>
      <div class="info">
        <div>Modelo: {{starship.model}}</div>
        <div>Fabricante: {{starship.manufacturer}}</div>
        <div>Clase: {{starship.starship_class}}</div>
        <div>Coste: {{starship.cost_in_credits}} creditos</div>
      </div>
    </div>
  </mat-card>
</div>
