.navigation{
  color: yellow;
  font-size: 50px;
  width: auto;
  height: auto;
  margin: 15px;
}

.contenido{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
}

.example-card {
  max-width: 300px;
  display: inline-block;
  margin: 10px;
  color: yellow;
  background-color: black;
}

